body {
    margin: 0px auto;
    width: 75%;
    /*font-family:'Georgia', 'Serif';*/
    font-family:'Helvetica', 'Arial', 'Sans-Serif';

}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px; 
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    color:#88493f; /* 133 32 34*/
    /*text-decoration: underline;*/
}

/*
.container {
  display:inline;
}
*/

h1 {
    margin-top:20px;
    font-size: 2.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
  margin-top:0;
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 1.4em;
  line-height: 1.4em;
  color: #333;
  height:400px;
  display:inline;
}

#self {
  float:right;
  margin-bottom: 20px;
}
footer {
  clear:both;
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
}

ul.posts {
    margin: 30px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
  float: left;
}

nav ul{
  position:relative;
  top:37%;
  /*left:2%;*/

}

nav{
  width:100%;
  height:75px;
}

#linkedin{
  width:20px;
  height:20px;
}

footer ul li {
  display: block;
  float: left;
  line-height: 20px;

}
