body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  min-height: 100vh;/*  spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #646464;
}

body h1 {
  font-size: calc(10px + 1vmin);
  text-align: center;

}

body p {
  margin:1vmin;
  font-size: calc(10px + 1vmin);
  text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  top:0px;
  overflow:auto;
  white-space: nowrap;
  font-size: calc(10px + 2vmin);
  color: #646464;
  width:100%;
  position:fixed;
  background-color: white;
  transition: 0.5s;
}
.header::-webkit-scrollbar {
  display: none;
}

.header a {
  padding: 1ch;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #646464;

}

.header a:hover{
  box-sizing:border-box;
  color: #323232;
}

.headshot {
  height: 40vmin;
  border-radius: 100%;
}

.plus {
  color: #789254;
}
.sep {
  text-align: center;
}

.link_container {
  display: inline-block;
  margin-top: 20px;
}

.link {
  font-size: calc(10px + 1vmin);
  color: #789254;
  text-align: center;
  margin:5px;
}

.logo {
  position:fixed;
  background-color: #789254;
  color: #ffffff !important;
  border-width: 0px !important;
}

.logo .cv {
  animation: 3s ease-out 0s 1 show_cv;
  position: absolute;
  transform-origin: -50% 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity:0;
  transition:ease-out 0.25s;
  
}

.cv img {
  width:40%;
  filter: invert(1);
  opacity: 1 !important;
}

.cv img:hover{
  width:40%;
  filter: invert(1);
  opacity: 1 !important;
}

.logo .name {
  animation: 3s ease-out 0s 1 show_name;
  opacity:1;
  transition:ease-out 0.25s;
}

.logo:hover .cv {
  opacity:1;
  transition:ease-out 0.25s;
}

.logo:hover .name {
  opacity:0;
  transition:ease-out 0.25s;
}

.logo:hover {
  border-width: 0px !important;

}

img {
  opacity:0.75 !important;
  transition: ease-out 0.25s;
  filter: grayscale(100)

}

img:hover {
  opacity:1 !important;
  transition: ease-out 0.25s;
  filter: grayscale(0)
}


@keyframes show_cv {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show_name {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

